In [1]:
import pandas as pd

In [2]:
data_dict = {
    'nombre': [ 'Sergio', 'Vladimir', 'Tania', 'Elsy', 'Oktavia'],
    'semestre': [1, 1, 3, 5, 5],
    'final': [7.5, 8, 9, 8.2, 4]
}

In [3]:
df = pd.DataFrame(data_dict)
df = df[['nombre', 'semestre', 'final']]
df

     nombre  semestre  final
0    Sergio         1    7.5
1  Vladimir         1    8.0
2     Tania         3    9.0
3      Elsy         5    8.2
4   Oktavia         5    4.0

In [6]:
# Subtract 1 from row, for each row in df.year
df['sig_sem'] = [row+1 for row in df['semestre'] ]

In [13]:
mi_lista = [x * y for x in [20, 40, 60] for y in [2, 4, 6]]

lista_numeros = [x ** 2 for x in range(10) if x % 2 == 0]

In [16]:
df['paso'] = [row+1 for row in df['semestre']]

In [17]:
df

     nombre  semestre  final  sig_sem  paso
0    Sergio         1    7.5        2     2
1  Vladimir         1    8.0        2     2
2     Tania         3    9.0        4     4
3      Elsy         5    8.2        6     6
4   Oktavia         5    4.0        6     6

In [ ]:
!wget https://gist.githubusercontent.com/israelzuniga/bef0001668c2bab3c3686db3759f0faa/raw/2ec658da4eeb21b86369644d3efeb40617aa5fa1/EDA_24Jun.ipynb